<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">

    <script src="../static/index.js" defer></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>


    <title>Summarize.</title>
</head>

<body>
    <div class="bubble"></div>
    <div class="bubble-2"></div>
    <div class="bubble-3"></div>
    <div class="bubble-4"></div>
    <div id="app">
        <header>
            <h1 class="title">SUMMARIZE.</h1>
        </header>

        <main>
            <div class="input-container">
                <h2 class="input-title">TEXT TO SUMMARIZE :</h2>
                <form action="{{ url_for('background_process_button') }}" method="post">
                    <label for="text"></label>
                    <textarea class="input-text" id="text" name="text" placeholder="Enter your text here">{{ variable }}</textarea>

                    <button @click="getLoader" name="text_btn" class="input-btn">Summarize</button>
                </form>
            </div>

            <span v-if="loading" class="loader"></span>

            <div class="output-container">
                <h2 class="output-title">SUMMARIZED TEXT :</h2>
                <form>
                    <label for="story"></label>
                    <textarea class="output-text" id="story" name="story" placeholder="Resume appear here">{{ summary }}</textarea>
                </form>
            </div>
        </main>

        <footer>
            <div class="footer-description">
                <h3 class="description-title">SUMMARIZE.</h3>
                <p class="description-text">
                    Summarize has a personal project in wich i decided to call a Huginface model and try it.
                    It consiste to enter a text in english a it will be automatically summarize by the app.<br>
                    It's not finish, I deploy this application on the Google Cloud.
                </p>
            </div>
            
            <div class="footer-links">
                <a class="anchor-links" href="https://github.com/gerardmargaux">
                    <img class="img-links"  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="Github logo" />
                </a>
                <a class="anchor-links" href="https://www.linkedin.com/in/margaux-g%C3%A9rard/">
                    <img class="img-links" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg"alt=" Linkedin logo" />
                </a>
                <a class="anchor-links" href="mailto:margaux.gerard4@gmail.com">
                    <img class="img-links" src="https://api.iconify.design/ic:baseline-email.svg"alt=" logo" />
                </a>
            </div>
        </footer>
    </div>
</body>
</html>